* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
}
body {
  font-family: "Montserrat", sans-serif;

  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(30, 38%, 92%);
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  overflow: hidden;
}
.img {
  width: 250px;
}
.text-box {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}
.n-a {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: hsl(228, 12%, 48%);
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
.dis-text {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}
.add-card-text {
  display: flex;
  gap: 12px;
  align-items: center;
}
.b-text {
  font-size: 32px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}
.s-text {
  color: hsl(228, 12%, 48%);
}
.btn {
  background-color: hsl(158, 36%, 37%);
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
}
.add-card:is(:link, :visited) {
  color: #fff;
  transition: all 0.3s;
}

.add-card:is(:hover, :active) {
  background-color: hsl(158, 59%, 21%);
}
/* @media (max-width:){} */
